{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div class="author-image">
	<img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}">
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" >{{ site.data.messages.locales[site.locale].written_by }} {% if author.web %}<a href="{{ author.web }}" itemprop="author">{{ author.name }}</a>{% else %}<span itemprop="author">{{ author.name }}</span>{% endif %}</h3>
	<p class="author-bio">{{ author.bio }}</p>
	<ul>
		{% if author.twitter %}
	      <li>Twitter: <a href="https://twitter.com/{{ author.twitter }}">{{ author.twitter }}</a></li>
	    {% endif %}
	    {% if author.github %}
	      <li>Github: <a href="https://github.com/{{ author.github }}">{{ author.github }}</a></li>
	    {% endif %}
	</ul>
</div><!-- ./author-content -->